In [ ]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
Python
R
Git

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools          |
|-----------------------------|
| JupyterLab                  |
| RStudio                     |
| Apache Zeppelin             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [31]:
 (3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [37]:
mins = 200
#This will convert 200 minutes to hours by diving by 60
hrs = 200 / 60
print (hrs)

3.3333333333333335

## Author
Atharva